body {
    margin: 0;
    padding: 0;
}

header {
    width: 80%;
    font-family: arial;
    margin: 0 auto;
}

img {
    display: inline-block;
}

.detail {
    display: inline-block;
}

h1 {
    color: #337ab7;
}