body {
    position: relative;
    font-family: arial;
    margin: 0;
    padding: 0;
    text-align: center;
}

.top {
    w80%
    border-bottom: 1px solid grey;
}

h1, h2 {
    color: #337ab7;
}

.time_detail {
    color: #999;
}

img {
    width: 400px;
    height: 400px;
    background-size: cover;
    border-radius: 50%;
}