.container {
    position: relative;
    background-color: #FFFFCC;
}

#title {
    color: #0000CC;
    font-family: Arial;
}

.wrapper {
    position: absolute;
}

.img_title {
    width: 80%;
}

#book_name {
    width: 200%;
}