.container {
    background-color: #FFFFCC;
}

#title {
    color: #0000CC;
    font-family: Arial;
}

.img_title {
    width: 80%;
}

#book_name {
    width: 200%;
}

label {
    float: right;
    margin-right:5px;
    font-weight: bold;
}