.text {
    text-transform: uppercase;
    color: #0000cc;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.img, .login {
    display: inline-block;
}

.login {
    margin-top: 0px;
}